<% content_for :title do %>
		<%= params[:search] %> - Searching Omegle Conversations 
<% end %>


<%= render "shared/navbar" %>

<div id="search-page"></div>
<div class="container no-overflow top-20 eighty">
	<div class="span5 search-controls" id="search-controls-contain">
		<%# TODO break on word boundaries %>
		<div class="search-results-title">We found <%= @logs.length >= 10 ? "lots of chats" : pluralize(@logs.length, 'chat') %> mentioning <%= params[:search] %></div>
		<%= render :partial => "matches", :collection => @logs, :as => :log %>
		<div class="search-message-item" id="no-more-results">Sorry, that's all</div>
	</div>

	<% @logs.each do |log| %>
		<%# TODO if the link is clicked as the page is loading, the controls disappear %>
		<%= render :partial => "search_result", :locals => {:log => log} %>
	<% end %>
</div>

<%= render "shared/footer" %>
